strict-peer-dependencies=false
auto-install-peers=true
ignore-pnpmfile=false

# We don't need esbuild's optional native binaries built locally;
# pre-built binaries from npm are used.
ignore-build-scripts=false
